# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and databases
*.log
*.sqlite3

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Excel, CSV, and temporary files
*.xls
*.xlsx
*.csv
~$*

# Package files
*.egg-info/
dist/
build/

# Misc
*.swp

